.xl {
    color:orange; 
    font: normal 20pt Tahoma;
    display: inline;
}
.xl2 {
    color:orange; 
    font: normal 16pt Tahoma;
    display: inline;
}
.xl3 {
    color:orange; 
    font: normal 30pt Tahoma;
    display: inline;
}
#myform {
    text-align: center;
}
